*{
    border: 1px solid red;
}

header {
    display: flex;
    position: relative;

}

ul {
    list-style: none;
    text-align: right;
}

li {
    display: inline;
    padding: 20px;

}

nav{
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#aboutme {
    display: flex;
    /* height: 200px; */
}

#aboutme p {
    display: flex;
    align-items: center;
    margin: 30px;
}

aside {
    max-width: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    font-size: 40px;
    margin: 30px;

}

#portfolio {
    display: flex;
}



.card {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    font-size: 20px;
}