*{
    border: 1px solid red;
}

header {
    display: flex;
    position: relative;

}

ul {
    list-style: none;
    text-align: right;
}

li {
    display: inline;
}

nav{
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#aboutme {
    display: flex;
    height: 200px;
}

#aboutme p {
    display: flex;
    width: 80%;
}

aside {
    max-width: 200px;
    min-width: 200px;
    text-align: right;

}

#portfolio {
    display: flex;
}



.card {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
}